.carousell-img1 {
  background: url("../img/index/nathan-dumlao-pMW4jzELQCw-unsplash.jpg");
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousell-img2 {
  background: url("../img/index/nathan-dumlao-pMW4jzELQCw-unsplash.jpg");
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousell-img3 {
  background: url("../img/index/nathan-dumlao-pMW4jzELQCw-unsplash.jpg");
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
