a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.current {
  color: #d96b47;
}

body {
  background-color: #d8c0a9;
  font-family: "Grand Hotel", cursive;
  /* height: 2000px; */
}

.mainbg {
  background: url("../img/mainbg.png") no-repeat center center/cover;
  position: fixed;
  width: 125vw;
  height: 125vh;
  filter: blur(0.4rem);
  z-index: -1;
}

.nav-logo {
  background: url("../img/pngwing.com.png") no-repeat center center/contain;
  width: 70px;
  height: 70px;
}

.footer-logo {
  background: url("../img/pngwing.com.png") no-repeat center center/contain;
  width: 50px;
  height: 50px;
}

#footer h2 {
  font-family: "Cedarville Cursive", cursive;
}

.text-darkbrown {
  color: #52372c;
}

.text-beige {
  color: #d8c0a9;
}

.text-cream {
  color: #f7f7f7;
}

header {
  background-color: #444444;
}

.card {
  border: none;
  --bs-card-spacer-y: 0.75rem;
  --bs-card-spacer-x: 0.75rem;
  --bs-card-border-color: none;
  transition: width 0.3s ease-in-out;
}

.img-hover:hover img {
  color: #44444450;
}

.nav-link {
  font-weight: 550;
  font-size: 1.5rem;
}

.navbar {
  background-color: #d8c0a9;
  transition: background-color 0.5s ease-in-out;
}

.navbar h1 {
  font-family: "Cedarville Cursive", cursive;
}

#back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #d96b47;
  color: white;

  padding: 14px 18px;
  border-radius: 100%;
  border: 0 none;
  cursor: pointer;
  z-index: 9999;
}

#hero ~ .navbar-scroll {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.bg-darkbrown {
  background: #52372c;
}

.text-logo {
  color: #8b623b;
}

.bg-grey {
  background: #44444479;
}

.bg-beige {
  background: #d8c0a9;
}

.bg-cream {
  background: #f7f7f7;
}

.bg-rust-orange {
  background: #d96b47;
}

.btn-primary {
  background: #d96b47;
  color: #fff;
  border: none;
  opacity: none;
  font-size: 1.5rem;
}

a:hover {
  color: #d96b47 !important;
}

.btn-primary:hover {
  background-color: #d15536;
  color: #fff;
}

#features {
  background-color: #f7f7f7;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item {
  position: relative;
}

a:hover {
  color: #d96b47;
}

.carousel-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-maxwidth {
  max-width: 200px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00acee;
}

.fa-instagram:hover {
  background: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fa-youtube:hover {
  color: #c4302b;
}

@media (min-width: 200px) {
  #slider1 .carousel-inner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  #slider1 .carousel-inner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  #slider1 .carousel-inner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  #slider1 .carousel-inner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}
