* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8c0a9;
  height: 2000px;
}

header {
  background-color: #444444;
}

#hero {
  background-color: #5d3c1e;
}

#features {
  background-color: #f7f7f7;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  filter: blur(1.5px);
  opacity: 0.85;
  background-color: #523a28;
}

a:hover {
  color: #d96b47;
}

.carousel-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-brown {
  background: #5d3c1e;
}

.btn-maxwidth {
  max-width: 200px;
}

@media (min-width: 768px) {
  #slider1 .carousel-inner {
    height: 80vh;
  }
}

@media (min-width: 992px) {
  #slider1 .carousel-inner {
    height: 60vh;
  }
}

@media (min-width: 1200px) {
  #slider1 .carousel-inner {
    height: 60vh;
  }
}
